@model CDA.Models.Vol

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VilleDepart" class="control-label">Ville de départ</label>
                <select asp-for="VilleDepart" asp-items="@ViewBag.Villes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="VilleArrivee" class="control-label">Ville d'arrivée</label>
                <select asp-for="VilleArrivee" asp-items="@ViewBag.Villes" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="DateDepart" class="control-label"></label>
                <input asp-for="DateDepart" class="form-control" type="datetime-local" />
                <span asp-validation-for="DateDepart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateArrivee" class="control-label"></label>
                <input asp-for="DateArrivee" class="form-control" type="datetime-local" />
                <span asp-validation-for="DateArrivee" class="text-danger"></span>
            </div>
            <!-- Ici, tu peux ajouter des champs pour sélectionner la VilleDepart et la VilleArrivee si nécessaire -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
